<div class="ui centered relaxed grid dream-grid dream-back">
  {{ $headless := .Site.GetPage "/about" }}
  {{ $aboutPages := $headless.Resources.ByType "page" }}
  {{ range $aboutPages }}
  <section class="sixteen wide mobile eight wide tablet four wide computer column dream-column">
    <article>
      <div class="ui top attached segment">
        <h3 class="ui header">{{ .Title }}</h3>
      </div>
      <div class="ui bottom attached segment markdown-body">
        {{ .Content | emojify }}
      </div>
    </article>
  </section>
  {{ end }}
  <section class="sixteen wide mobile eight wide tablet four wide computer column dream-column">
    <iframe height='454' frameborder='0' allowtransparency='true' scrolling='no'
      src='https://www.strava.com/athletes/71132142/latest-rides/90b8c302f38f2860b0c74c0e45343ab16290b075'></iframe>
  </section>


</div>
